# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Local stuff & Environments
tmp/
.DS_Store
.vscode
DC_transfer
README.local.md
.env
.venv
